.logo
  %h1
    = 'nerd <span class="green">[</span>nearby</span><span class="green">]</span>'.html_safe
  = image_tag 'glasses.png'

.overlay
#map_canvas

.feed-items
  #spinner
    = image_tag 'spinner.gif'
Reach us on twitter: @nerdnearby 
Made at TC Disrupt Hackathon '11 by @jocelynleavitt, @samj0hn, @seanmoon and @evan_farrar
%p <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="NerdNearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
