.logo
  %h1
    = 'nerd <span class="green">[</span>nearby</span><span class="green">]</span>'.html_safe
  = image_tag 'glasses.png'

.overlay
#map_canvas

.feed-items
  #spinner
    = image_tag 'spinner.gif'
  Reach us on twitter: @jocelynleavitt, @samj0hn, @seanmoon and @evan_farrar - see if you can guess our names!
