.logo
  %h1
    = 'nerd <span class="green">[</span>nearby</span><span class="green">]</span>'.html_safe
  = image_tag 'glasses.png'
.overlay
#map_canvas

.feed-items
  %ul
    %li.image-post
      .title
        %h3
          TechCrunch Disrupt
      .post-body
        = image_tag "http://images.instagram.com/media/2011/05/21/6e17aebfbab043449b3087eb542d2a7d_6.jpg"
      .caption
        Nice logo #hackdisrupt
