.logo
  %h1
    = 'nerd <span class="green">[</span>nearby</span><span class="green">]</span>'.html_safe
  = image_tag 'glasses.png'

.overlay
#map_canvas

.feed-items
  #spinner
    = image_tag 'spinner.gif'
%p
  Reach us on twitter: @nerdnearby
  Made at TC Disrupt Hackathon '11 by @jocelynleavitt, @samj0hn, @seanmoon and @evan_farrar

.share
  .twitter <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="NerdNearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  .facebook <iframe src="http://www.facebook.com/plugins/like.php?app_id=217383541618849&amp;href=http%3A%2F%2Fwww.nerdnearby.com&amp;send=true&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
