.logo
  %h1
    = 'nerd <span class="green">[</span>nearby</span><span class="green">]</span>'.html_safe
  = image_tag 'glasses.png'

.overlay
#map_canvas

.feed-items
  #spinner
    = image_tag 'spinner.gif'
%p
  Reach us on twitter: @nerdnearby
  Made at TC Disrupt Hackathon '11 by @jocelynleavitt, @samj0hn, @seanmoon and @evan_farrar

.share
  .twitter <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="NerdNearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  .facebook
    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=186595491391516&amp;xfbml=1"></script><fb:like href="http://nerdnearby.com" send="false" layout="box_count" width="450" show_faces="true" font=""></fb:like>
