.instagrams
  %ul
    - feed_items.each do |feed_item|
      - if(feed_item[:feed_item_type] == "tweet")
        = render partial: "tweets/tweet", locals: {tweet: feed_item}
      - elsif(feed_item[:feed_item_type] == 'instagram')
        = render partial: "instagrams/instagram", locals: {instagram: feed_item}

