- if(feed_item.id)
  - url = feed_item_path(feed_item)
  - action = "PUT"
- else
  - url = feed_items_path
  - action = "POST"
.like{ "data-like" => (feed_item.attributes.reject {|key,value| value.blank?}).to_json, "data-url" => url, "data-action" => action}
  = link_to "Like", "#"
- if(feed_item.id)
  - if feed_item.likes == 1
    #like-count== #{feed_item.likes} like
  -else 
    #like-count== #{feed_item.likes} likes


