%li.foursquare.image-post
  %a{href: instagram[:url]}
    .title.venue
      %h3
        = image_tag "foursquarefavicon.png"
        = tip[:venue]
  .caption
    .text= raw(tip[:text])
    .time= pretty_time(tip[:time])

